.modal {
  --bs-modal-width: 600px;
}

.modal-header {
  border-bottom: none;
}
.request-btn {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.form-control {
  background-color: #ddd;
}

.form-btn {
  column-gap: 10px;
}

.btn:hover {
  opacity: 0.6;
  transition: 0.2s linear;
  transform: scale(0.85);
}

.close-btn {
  color: #0d6efd;
  border: 1px solid #0d6efd;
}
