body{
  padding: 0;
}
.form-control{
  border-radius: 0;
}
.home-search-content{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background-image: url('/assets/image/istockphoto-1132285086-2048x2048.jpg');
  background-size: cover;
}
.home-text-note{
  margin: 0 auto;
  margin-bottom: 2rem!important;
  width: 95%;
  text-align: center;
  font-style: italic;
}
.home-about {
  background-color: #c8e7ec;
}
.home-rate {
  background-color: #e6e6e6;
  padding: 20px 100px;
}
.card{
  height: 200px;
border: none!important;
}
.card-body{
  display: flex;
  justify-content: center;
  align-items: center;
   background-color: #e6e6e6;
}
.user-img {
  width: 125px;
  height: 125px;
}
.customer-name{
  font-weight: bold;
}

.about-item {
  background-color: #f1f1f1;
  border-radius: 15px;
  height: 350px;
  margin-bottom: 40px;
}

.bi-star-fill{
  color: orange;
}
.search-background{
  margin: 0 auto;
  width: 55%;
  flex-wrap: wrap;
  background-color: #ffffffcc;
}
.search-box{
  display: flex;
  width: 60%;
  justify-content: center;
  margin: 0 auto;
}
.search-location-btn,.search-school-btn{
  border-radius: 0;
}
.ellipsis-content {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 800px) {
  .search-background{
    width: 80%;
    margin:0 auto;
  }
}




