
.login-form {
  max-width: 500px;
  margin: 120px auto;
  border-radius: 10px;
  background-color: rgb(233, 230, 227);  
  padding:50px 70px;
}
.login-title{
  text-align: center; /* Căn giữa ngang */
  display: flex;
  flex-direction: column;
  align-items: center; /* Căn giữa dọc */
  color: cadetblue;
}

.login-form-margin {
  margin: 16px auto;
  justify-content: space-around;
}

.login-form-forgot {
  float: right;
  text-decoration: underline;
}

.login-form-button {
  width: 40%;
  border-radius: 5px;
}
.login-label{
  float: left;
  margin-bottom: 5px;
}
.login-error{
  color: red;
  float: left;
}
