<div class="container">
  <nz-breadcrumb nzSeparator=">" class="py-3">
    <nz-breadcrumb-item class="text-primary fw-bold" role="button" [routerLink]="['/admin/request/list']">Request
      Management
    </nz-breadcrumb-item>
    <nz-breadcrumb-item class="text-primary fw-bold" [routerLink]="['/admin/request/list']">Request List
    </nz-breadcrumb-item>
    <nz-breadcrumb-item class="text-primary fw-bold">Request Details</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="request-detail mx-5">
    <h4>Request details</h4>
    <ng-container *ngIf="requestDetail.status === 'OPEN'"  >
      <nz-tag class="mx-3 mb-2" [nzColor]="'geekblue'" >{{requestDetail.status|requestStatus}}</nz-tag>
    </ng-container>
    <ng-container *ngIf="requestDetail.status === 'CLOSED'">
      <nz-tag class="mx-3 mb-2"  [nzColor]="'red'">{{requestDetail.status|requestStatus}}</nz-tag>
    </ng-container>
  </div>
  <form nz-form class="mt-5" [formGroup]="requestForm">
    <!-- full name -->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="fullName">Full name</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Full name is required!">
        <input class="rounded" [readonly]="readonly" [ngClass]="{'disabled-input': readonly}" nz-input type="text"
               id="fullName" formControlName="fullName"/>
      </nz-form-control>
    </nz-form-item>
    <!-- email -->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email">Email</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input class="rounded" [readonly]="readonly" [ngClass]="{'disabled-input': readonly}" nz-input type="text"
               id="email" formControlName="email"/>
      </nz-form-control>
    </nz-form-item>
    <!-- Phone number -->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber">Phone Number</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input class="rounded" [readonly]="readonly" [ngClass]="{'disabled-input': readonly}" nz-input id="phoneNumber"
               formControlName="phoneNumber"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="schoolAddress">Address</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input [readonly]="readonly" [ngClass]="{'disabled-input': readonly}" [disabled]="readonly" type="text" nz-input
               formControlName="schoolAddress"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6">Requested School</nz-form-label>

      <nz-form-control [nzSpan]="14">
        <input class="rounded" [readonly]="readonly" [ngClass]="{'disabled-input': readonly}" type="text" nz-input
               id="requestSchool" formControlName="requestSchool"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="inquiry">
        Inquires
      </nz-form-label>
      <nz-form-control [nzSpan]="14">
        <textarea [ngClass]="{'disabled-input': readonly}" [readOnly]="readonly" rows="4" formControlName="inquiry"
                  nz-input></textarea>
      </nz-form-control>
    </nz-form-item>
    <div *ngIf="requestDetail?.status !== 'CANCELLED'">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <div style="text-align: right;">
          <button class="me-3" nz-button (click)="enroll()" nzType="primary">Enroll Parent</button>
          <button *ngIf="requestDetail?.status === 'OPEN'" nz-button (click)="showConfirm()" nzType="primary">Mark it resolved</button>
        </div>
      </nz-form-control>
    </div>
<!--    <div *ngIf="requestDetail?.status === 'OPEN'">-->
<!--      <nz-form-control [nzSpan]="14" [nzOffset]="6">-->
<!--        <div style="text-align: right;">-->
<!--          <button *ngIf="requestDetail?.status === 'OPEN'" nz-button (click)="showConfirm()" nzType="primary">Mark it resolved</button>-->
<!--        </div>-->
<!--      </nz-form-control>-->
<!--    </div>-->


  </form>

  <!--    </div>-->

</div>
