<div class="modal fade"  id="logoutModal" data-bs-backdrop="static"
data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-md-down">
      <div class="modal-content">
          <div class="modal-body">
            <h5 class="modal-title text-primary text-center mb-4 mt-2">Are you sure you want to log out?</h5>
            <div class="d-flex justify-content-evenly mb-4">
                <button type="button" class="btn btn-primary col-3" (click)="logOut()">OK</button>
                <button type="button" class="btn btn-outline-primary col-3" data-bs-dismiss="modal">Cancel</button>
            </div>
          </div>
      </div>
    </div>
  </div>
