.img-fluid {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
}
.card {
  border: 2px solid #adc9e8;
  border-radius: 10px;
}
.enroll-detail {
  border: 2px solid #adc9e8;
  border-top: none;
}
.facility-utility {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 750px) {
  .img-fluid {
    max-width: 100%;
    height: 265px;
  }
  .sorted {
    width: 20%;
  }
}
@media (max-width: 900px) {
  .img-fluid {
    max-width: 100%;
    /* height: 265px; */
  }
}
.nav-link {
  border-bottom: 0;
}
//.nav-tabs {
//  --bs-nav-tabs-border-width: 2px;
//  --bs-nav-tabs-border-color: #adc9e8 ;
//}

.nav-tabs {
  --bs-nav-tabs-border-width: 2px;
  --bs-nav-tabs-link-hover-border-color:  #adc9e8 ;
  //--bs-nav-tabs-link-active-color:  #adc9e8 ;
  --bs-nav-tabs-link-active-border-color:  #adc9e8 ;
}

