<div class="content" *ngIf="token!=null">
  <div class="avatar">
    <span class="fw-bold">{{userName}}</span>
  </div>
  <button class="d-flex align-items-center header-content" (click)="showConfirm()" style="padding: 0">
    <i class="fa-solid fa-arrow-right-from-bracket fs-5"></i>
    <!-- <span class="header-btn" >Log out</span> -->
    <span nz-button nzType="primary"  class="header-btn">Log out</span>
  </button>
</div>

