<!-- Hiển thị thông báo xác minh tài khoản thành công -->
<div *ngIf="isDoneVisible" class="done">
  <div class="card m-4 p-4">
    <h1 class="text-primary mt-4">Email has been successfully verified!</h1>
    <p class="mb-4">Thank you for verifying the email. You can now access your account.</p>
    <!-- Thêm các liên kết hoặc nút để điều hướng đến trang chính hoặc nơi bạn muốn -->
  </div>
</div>
<!-- Hiển thị thông báo xác minh tài khoản không thành công -->
<div *ngIf="isErrorVisible" class="fail">
  <div class="card m-3 p-4">
        <h1 class="text-danger mt-3">Email verification failed!</h1>
        <p>Your email verification time has expired or the activation code is wrong!</p>
        <p>Please enter your email and click the button below to resend the verification code.</p>
        <!-- Nút để gửi lại mã xác minh -->
        <form [formGroup]="emailForm" method="post" (ngSubmit)="submitForm()">
          <div class="row justify-content-center mb-5">
            <div class="col-10">
              <div class="mb-3 mt-4">
                <label class="d-flex align-items-center mb-3 fw-bold" for="active-email">Your Email :</label>
                <input formControlName="email" type="email" class="form-control border border-primary"
                 id="active-email" placeholder="Enter your email" aria-label="Your email"
                 (blur)="inputEmailTouched = true">
                <div class="text-danger" *ngIf="inputEmailTouched && email?.errors?.['required']">
                  Email is required !
                </div>
                <ng-container *ngIf="inputEmailTouched && email?.invalid && (email?.dirty && email?.touched)">
                  <div class="text-danger" *ngIf="email?.hasError('pattern')">Please enter a valid email address (e.g., example@example.com)</div>
                </ng-container>
              </div>
              <button type="submit" class="btn btn-primary mt-3 mb-4 col-5" >Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
