<div class="body">
  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <h3 class="login-title">Login into your account</h3>
      <b class="login-error" *ngIf="errorMessage">{{errorMessage}}</b>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-form-label [nzSpan]="6" nzFor="email" class="login-label">Email address</nz-form-label>
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="email" placeholder="Enter your email" />
        </nz-input-group>
        <ng-container *ngIf="inputEmailTouched  ">
          <div class="login-error" *ngIf="email?.invalid && (email?.dirty && email?.touched) && email?.hasError('pattern')">Please enter a valid email address (e.g., example@example.com)</div>
          <div class="login-error" *ngIf="email?.errors?.['required']">
            Email is required !
          </div>
        </ng-container>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-form-label [nzSpan]="6" nzFor="password" class="login-label">Password</nz-form-label>
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Enter your password" />
        </nz-input-group>
        <div class="login-error" *ngIf="inputPasswordTouched && password?.errors?.['required']">Password is required !</div>
      </nz-form-control>
    </nz-form-item>
    <div nz-row class="login-form-margin">
      
      
      <div nz-col [nzSpan]="12">
        <a class="login-form-forgot" [routerLink]="['/admin/auth/forgot-password']">Forgot password?</a>
      </div>
    </div>
    <button nz-button class="login-form-button" [nzType]="'primary'">Login</button>
    
  </form>

</div>