<header class="w-100">
  <!-- Navbar -->
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container-fluid">
<!--        <a class="navbar-brand" (click)="reloadPage()">-->
        <a class="navbar-brand" href="/home">
          <img
            src="../../../../assets/image/logo.image.webp"
            alt="Best School" style="width: 6rem;">
        </a>

        <button class="navbar-toggler bg-white text-primary" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarExample01"
                aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon "></span>
        </button>
        <div class="collapse navbar-collapse collapse" id="navbarExample01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a [routerLink]="['/home/school']"
                 class="nav-link text-primary mx-3 text-decoration-none fw-bold">School Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-primary mx-3" [routerLink]="['/home']">Community</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-primary mx-3" (click)="scrollAboutUs()" >About Us</a>
            </li>
          </ul>

          <div class="d-flex align-items-center justify-content-center row">
            <ng-container *ngIf="fullName!=null">
              <div class="dropdown">
                <button class="btn btn-light dropdown-toggle text-primary" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                  Welcome! {{fullName}}
                </button>
                <ul class="dropdown-menu dropdown-menu-lg-end">
                  <li><a [routerLink]="['/home/enrolled']" class="dropdown-item text-primary" type="button">My
                    Schools</a></li>
                  <li><a class="dropdown-item" [routerLink]="['/account/request']">My Request</a></li>
                  <li><a class="dropdown-item" [routerLink]="['/account/profile']">My Profile</a></li>
                  <li>
                    <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#logoutModal">Log out</button>
                  </li>
                </ul>
              </div>

            </ng-container>
            <ng-container *ngIf="fullName===null">
              <div class="col-lg-6 col-md-12 person-container ">
                <div class="me-1">
                  <i class="bi bi-person fs-3"></i>
                </div>
              <div class=" me-3" style="border-right: 1px solid #1473E6; padding-right: 15px;">
                <p class="m-0 "><a class="link-opacity-100-hover" data-bs-toggle="modal" data-bs-target="#loginModal"
                                   href="#">Login</a></p>
              </div>

              <div class="me-3">
                <p class="m-0"><a class="link-opacity-100-hover text-nowrap" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                  href="#">Sign Up</a></p>
              </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="header-foot-line"></div>
  <!-- Navbar -->
</header>
