<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User Mail</title>
</head>
<body>
    <p>Dear Mr/Mrs <b th:text="${name}"></b>,</p><br>
    <p>This email is from KTS system,</p><br>
    <p>Your account has been created. Your account name : <b th:text="${email}"></b></p>
    <p>Please click <a th:href="${link}">here</a> to reset password and login.</p>
    <p>If anything wrong, please reach-out manager mail <b th:text="${adminMail}"></b>.
      We are so sorry for this inconvenience.</p>
    <br>
    <p>Thanks & Regards!</p>
    <b>KTS Team</b><br>
    <p th:text="${dateTime}"></p>
</body>
</html>