<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Request Counselling Mail</title>
</head>
<body>
    <p>Dear Mr/Mrs <b th:text="${name}"></b>,</p><br>
    <p>Thank you for your request!</p>
    <p>We have received your consultation request and will contact you as soon as possible.</p><br>
    <p>Thanks & Regards!</p>
    <b>KTS Team</b><br>
    <p th:text="${dateTime}"></p>
</body>
</html>