<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password Mail</title>
</head>
<body>
    <p>Dear Mr/Mrs <b th:text="${name}"></b>,</p><br>
    <p>We have just received a password reset request for <b th:text="${email}"></b></p>
    <p>Please click <a th:href="${link}">here</a> to reset your password.</p>
    <p><b>For your security, the link will expire in 24 hours or immediately after you reset your password.</b></p><br>
    <p>Thanks & Regards!</p>
    <b>KTS Team</b><br>
    <p th:text="${dateTime}"></p>
</body>
</html>