<div class="px-3">
    <nz-breadcrumb nzSeparator=">" class="py-3">
        <nz-breadcrumb-item class="text-primary fw-bold" role="button" [routerLink]="['/admin/school']">School Management
        </nz-breadcrumb-item>
        <nz-breadcrumb-item class="text-primary fw-bold">Add New School</nz-breadcrumb-item>
    </nz-breadcrumb>
    <h4>Add New School</h4>
    <app-view-crud-school [edit]="false" [readonly]="false"></app-view-crud-school>
</div>
