<div class="container">
    <div>
      <div class="text-center mb-3">
        <h2 class="mb-4 title">Reset Password</h2>
        <p >Please set your new password</p>
    </div>
    <form method="post" [formGroup]="resetPasswordForm" class="col-12 mx-auto" (ngSubmit)="onSubmit()">
        <div class="mb-4 mt-4 d-block">
            <label for="reset-password" class="form-label">Password</label>
            <div class="input-group mt-2 mb-2">
              <input type="password" formControlName="password"
                class="form-control text-muted" id="reset-password"
                aria-label="Enter your password"
                placeholder="Enter your password"
                aria-describedby="basic-addon1">
              <div class="input-group-append" style="position: relative;">
                <span class="input-group-text bg-primary text-light"
                  style="border-radius: 5px;position: absolute; right: 0%; top: 0%;height: 100%;"
                  id="basic-addon1"><i class="fa-solid fa-lock fa-lg"></i></span>
              </div>
            </div>
            <!-- Thông báo lỗi cho trường mật khẩu -->
            <div class="text-danger" *ngIf="passwordTouched && password?.errors?.['required']">
              Email is required !
            </div>
            <ng-container *ngIf="passwordTouched && password?.invalid && (password?.dirty && password?.touched)">
              <div class="text-danger" *ngIf="password?.hasError('pattern')">Password must contain at least one number, one
                numeral, and seven characters.</div>
            </ng-container>
              <small class="text-warning mt-4">
                Use at least one number, one letter, and seven characters.
              </small>
          </div>
          <div class="mb-4 mt-4 d-block">
            <label for="confirm-password" class="form-label">Confirm Password</label>
            <div class="input-group mt-2 mb-2">
              <input type="password" formControlName="confirmPassword"
                class="form-control text-muted" id="confirm-password"
                aria-label="Confirm your password"
                placeholder="Confirm your password"
                aria-describedby="basic-addon2">
              <div class="input-group-append" style="position: relative;">
                <span class="input-group-text bg-primary text-light"
                  style="border-radius: 5px;position: absolute; right: 0%; top: 0%;height: 100%;"
                  id="basic-addon2"><i class="fa-solid fa-lock fa-lg"></i></span>
              </div>
            </div>
            <!-- Thông báo lỗi cho trường mật khẩu -->
            <div class="text-danger" *ngIf="confirmPasswordTouched && confirmPassword?.errors?.['required']">
              Password is required !
            </div>
            <ng-container *ngIf="passwordsMatchChecked">
              <div class="text-danger" *ngIf="resetPasswordForm.hasError('mismatch', 'confirmPassword')">
                Password and Confirm password don’t match.Please try again!
              </div>
            </ng-container>
          </div>
          <div class=" mt-5 d-flex gap-4">
            <button class="form-control btn btn-light text-primary border-primary" (click)="homePage()">Cancel</button>
            <button type="submit" class="form-control btn btn-primary">Reset</button>
          </div>
    </form>
    </div>
</div>
