
  /* Đường ngăn giữa modal header và modal body */
  .modal-header {
    border-bottom: none;
  }

  /* Khoảng cách giữa modal body và modal footer */
  .modal-body {
    padding-bottom: 20px;
  }

  /* Đường ngăn giữa modal body và modal footer */
  .modal-footer {
    border-top: none;
  }

