.img-fluid {
  width: 300px;
  max-height: 200px;
  object-fit: cover;
}

/* css for floating button */
.floating-button-container {
  position: absolute;
  top: 10px;
  /* Adjust the distance from the top as needed */
  right: 10px;
  /* Adjust the distance from the right as needed */
}

.floating-button {
  background-color: #19a7ffff;
  color: white;
  padding: 0px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  /* Add shadow */
  transition:
    background-color 0.3s,
    transform 0.3s,
    box-shadow 0.3s;
  /* Add transition */
}

.floating-button:hover {
  /* Darker blue on hover */
  transform: scale(1.05);
  /* Slightly increase size on hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  /* Increase shadow on hover */
}

#school-cart-item {
  margin-left: 25px;
}
.content-column p {
  margin-bottom: 0;
}

@media (max-width: 750px) {
  //.img-fluid {
  //  width: fit-content;
  //  height: 265px;
  //}
  //.sorted{
  //  width: 20%;
  //}
}
@media (max-width: 950px) {
  .img-fluid {
    width: fit-content;
    //height: 265px;
  }
  .floating-button {
    width: 50%;
  }
}
@media (max-width: 1200px) {
  .card-title .title {
    width: 60%;
  }
}
@media (max-width: 1000px) {
  .card-title .title {
    width: 100%;
  }
}
