
.school-header{
  display: flex;
  align-items: center;
}
.status{
  align-content: center;
  transform: translateY(30%);
}
.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  line-height: 30px;
}
