nz-breadcrumb-item {
  font-weight: 700;
}

[nz-form] {
  max-width: 600px;
  margin-left: 5rem;
  padding-bottom: 1rem;
}

.register-are {
  margin-bottom: 8px;
}

.add-content {
  margin-bottom: 3.5rem;
}

nz-form-label {
  font-weight: bold !important;
}

.form-btn {
  display: flex !important;
  column-gap: 10px;
  justify-content: center;
}

#userName {
  cursor: default;
}

::ng-deep {
  .ant-form-item-explain-error {
    margin-bottom: 10px;
  }
  .ant-form-item-explain,
  .ant-select-selector {
    text-align: left !important;
  }

  .ant-select-item:hover {
    background-color: #ccc;
  }
}

@media screen and (max-width: 768px) {
  [nz-form] {
    margin-left: 3rem;
    padding-bottom: 1.5rem;
  }
}
