<div class="container">
  <nz-breadcrumb nzSeparator=">" class="py-3">
    <nz-breadcrumb-item role="button" [routerLink]="['/admin/school']" class="text-primary fw-bold">School Management</nz-breadcrumb-item>
    <nz-breadcrumb-item><a [routerLink]="['/admin/school']" class="text-primary fw-bold">School List</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a class="text-primary fw-bold">School Detail</a></nz-breadcrumb-item>
  </nz-breadcrumb>
  <h4>Ratings & Feedbacks</h4>
  <div class="long-div" #divTarget>
    <div class="long-div-inner">
      <div nz-row class="px-5 mx-5">
        <div nz-col nzSpan="2" class="">
          <span class="fw-bold" nz-typography>FROM</span>
        </div>
        <div nz-col nzSpan="7">
          <nz-tabset>
            <nz-tab>
              <nz-date-picker [nzDisabledDate]="disabledDate" nzInline [(ngModel)]="date1"
                              (ngModelChange)="onChange1($event)"></nz-date-picker>
            </nz-tab>
          </nz-tabset>
        </div>
        <div nz-col nzSpan="2">
          <span class="fw-bold" nz-typography>TO</span>
        </div>
        <div nz-col nzSpan="7">
          <nz-tabset>
            <nz-tab>
              <nz-date-picker [nzDisabledDate]="disabledDate" nzInline [(ngModel)]="date2"
                              (ngModelChange)="onChange2($event)"></nz-date-picker>
            </nz-tab>
          </nz-tabset>
        </div>
        <div nz-col nzSpan="6">
      <span class="d-flex align-items-center header-content" (click)="refresh()">
      <span nz-icon style="font-size: 40px; color: #333333;"><i class="bi bi-arrow-repeat"></i></span>
      <span class="ps-3" style="color: #333333;" (click)="refresh()">Refresh</span>
      </span>
        </div>

        <!--Rating-->
      </div>
      <h5 class="fw-bold fs-5 px-5 mx-5 pt-3" style="font-size: 18px;" nz-typography><u>Ratings</u></h5>
      <div nz-row class="px-5 mx-3">
        <div nz-col nzSpan="5" class="">
          <nz-card nzTitle="" nzBorderless>
            <div *ngFor="let key of keys">
              <p class="fw-semibold">{{key | camelCaseToSpace}}</p>
            </div>
          </nz-card>
        </div>
        <div nz-col nzSpan="6" class="">
          <nz-card nzTitle="" nzBorderless>
            <div *ngIf="schoolRatings?.learningProgram">
              <app-rating-star [star]="schoolRatings.learningProgram"></app-rating-star>
            </div>
            <div *ngIf="schoolRatings?.facilitiesAndUtilities">
              <app-rating-star [star]="schoolRatings.facilitiesAndUtilities"></app-rating-star>
            </div>
            <div *ngIf="schoolRatings?.extracurricularActivities">
              <app-rating-star [star]="schoolRatings.extracurricularActivities"></app-rating-star>
            </div>
            <div *ngIf="schoolRatings?.teachersAndStaff">
              <app-rating-star [star]="schoolRatings.teachersAndStaff"></app-rating-star>
            </div>
            <div *ngIf="schoolRatings?.hygieneAndNutrition">
              <app-rating-star [star]="schoolRatings.hygieneAndNutrition"></app-rating-star>
            </div>
          </nz-card>
        </div>
        <div nz-col nzSpan="6" class="mx-3">
          <nz-card nzTitle="Average Rating">
            <app-rating-star [star]="avgRating"></app-rating-star>
          </nz-card>
        </div>

        <div nz-col nzSpan="5" class="mx-3">
          <nz-card nzTitle="No.of feedbacks" class="">
            <p class="fw-bold" style="font-size: 24px;">{{feedbackCount}}</p>
          </nz-card>
        </div>
      </div>


      <div nz-row class="px-5 pt-5 mx-5">
        <div nz-col nzSpan="18" class="">
          <h5 class="fw-bold fs-5" style="font-size: 18px;" nz-typography><u>All feedbacks</u></h5>

          <nz-list class="demo-loadmore-list pt-3 px-5" [nzLoading]="initLoading">
            <ng-container *ngIf="!initLoading">
              <nz-list-item *ngFor="let item of feedbacks">
                <ng-container>
                  <nz-list-item-meta
                    nzAvatar="{{item.user?.imageProfile}}"
                    nzDescription="{{item.content}}">

                    <nz-list-item-meta-title>
                      <app-rating-star class="small" [star]="item.avgRating"></app-rating-star>
                      <div nz-row>
                        <div nz-col nzSpan="10"><p>{{item.user?.fullName}}</p>
                        </div>
                        <div nz-col nzSpan="14"><p>| {{item?.createdDate}}</p></div>
                      </div>

                    </nz-list-item-meta-title>
                  </nz-list-item-meta>
                </ng-container>
              </nz-list-item>
            </ng-container>
            <div class="loadmore" nz-list-load-more>
              <button nz-button *ngIf="feedbackActivePage < feedbackTotalPage - 1" (click)="onLoadMore()">loading more
              </button>
            </div>
          </nz-list>

          <nz-card nzTitle="" nzBorderless class="mx-5">


          </nz-card>
        </div>
        <div nz-col nzSpan="6">
          <h5 class="fw-bold fs-5" style="font-size: 18px;" nz-typography><u>Filter</u></h5>
          <nz-card nzTitle="">
            <!--            <nz-form-control>-->
            <nz-checkbox-wrapper (nzOnChange)="buildUrlCondition($event, 'rating')">
              <div>
                <div *ngFor="let item of [1,2,3,4,5]">
                  <label nz-checkbox [nzValue]="item">
                    <app-rating-star class="small" [star]="item"></app-rating-star>
                  </label>
                </div>
              </div>
            </nz-checkbox-wrapper>
            <!--              <label nz-checkbox *ngFor="let item of [1,2,3,4,5]" (click)="buildUrlCondition($event, 'rating')"-->
            <!--                     [(ngModel)]="ratingGroup" [nzValue]="item">-->
            <!--                <app-rating-star class="small" [star]="item"></app-rating-star>-->
            <!--              </label>-->
            <!--            </nz-form-control>-->
          </nz-card>
        </div>

      </div>
      <nz-back-top [nzTarget]="divTarget"></nz-back-top>
    </div>
  </div>
</div>
