nz-date-picker {
  margin: 0 8px 12px 0;
}
span[nz-typography] {
  display: block;
  color: #333333;
}

span[nz-typography] + span[nz-typography] {
  margin-top: 8px;
}
p {
  margin: 5px;
  padding: 3px;
}
nz-avatar {
  margin-top: 16px;
  margin-right: 16px;
}

.demo-loadmore-list {
  min-height: 350px;
}
.loadmore {
  text-align: center;
  margin-top: 12px;
  height: 32px;
  line-height: 32px;
}
.small{
  font-size: 0.6rem;
}

.small.svg  {
  fill: currentcolor;
  width: 0.6em;
  height: 1em;
}

:host ::ng-deep .long-div {
  height: 560px;
  overflow-y: scroll;
}

:host ::ng-deep .long-div-inner {
  height: 1500px;
}

:host ::ng-deep .long-div .ant-back-top {
  right: 150px;
}

:host ::ng-deep .long-div .ant-back-top-rtl {
  right: unset;
  left: 150px;
}

:host ::ng-deep strong {
  color: rgba(64, 64, 64, 0.6);
}

.demo-loadmore-list {
  min-height: 350px;
}
.loadmore {
  text-align: center;
  margin-top: 12px;
  height: 32px;
  line-height: 32px;
}
