<section #myRequest>
  <ng-container *ngIf="requestList.length !== 0">
    <div class="container mt-3">
      <nav class="breadcrumb">
        <a class="breadcrumb-item text-dark" [routerLink]="['/home']">Home</a>
        <span class="breadcrumb-item active">My Requests</span>
      </nav>
      <h1 class="mb-4">My Requests</h1>
      <p class="mb-3 lh-basefont-monospace info">
        You have: <span class="text-bold">{{ totalRequestOpen }}</span> open requests
      </p>

      <div
        *ngFor="
          let itemRequest of requestList
            | paginate
              : {
                  itemsPerPage: size,
                  currentPage: activePage,
                  totalItems: totalRequest
                }
        "
        class="row mb-4"
      >
        <div class="col-md-7 mt-3">
          <div class="list-group border border-secondary rounded">
            <!-- ... Your list group request items ... -->
            <div class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">
                  <span class="text-primary text-decoration-underline fs-6"
                  >Request Number:</span
                  ><span class="text-primary"> #{{ itemRequest.id }}</span>
                </h5>
                <small>{{ itemRequest.createdDate | dateFormat }}</small>
              </div>
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 text-primary text-decoration-underline fs-6">
                  Request Information:
                </h5>
                <ng-container *ngIf="itemRequest.status === 'OPEN'">
                  <small type="button" class="status-btn btn btn-success"
                  >Open</small
                  >
                </ng-container>
                <ng-container *ngIf="itemRequest.status === 'CLOSED'">
                  <small type="button" class="status-btn btn btn-secondary"
                  >Closed</small
                  >
                </ng-container>

                <ng-container *ngIf="itemRequest.status === 'CANCELLED'">
                  <small type="button" class="status-btn btn btn-danger"
                  >Cancelled</small
                  >
                </ng-container>
              </div>

              <p class="mb-1"><span class="text-bold">Full Name: </span>{{ itemRequest.fullName }}</p>
              <p class="mb-1"><span class="text-bold">Email Address: </span>{{ itemRequest.email }}</p>
              <p class="mb-1"><span class="text-bold">Phone Number: </span>{{ itemRequest.phoneNumber }}</p>
              <p class="mb-1"><span class="text-bold">Inquiry: </span></p>

              <p *ngIf="itemRequest.inquiry === null" class="mb-0">
                {{ itemRequest.inquiry }}
              </p>
              <div *ngIf="itemRequest.inquiry !== null">
                <ng-container *ngIf="itemRequest.inquiry.length < 100">
                  <p>{{ itemRequest.inquiry }}</p>
                </ng-container>

                <ng-container *ngIf="itemRequest.inquiry.length > 100">
                  <p *ngIf="!itemRequest.showMore" class="mb-0">
                    {{ trimString(itemRequest.inquiry, 100) }}...
                  </p>
                  <p *ngIf="itemRequest.showMore" class="mb-0">
                    {{ itemRequest.inquiry }}
                  </p>
                  <span
                    style="cursor: pointer"
                    *ngIf="itemRequest.inquiry.length > 100"
                    class="text-primary text-decoration-underline"
                    (click)="itemRequest.showMore = !itemRequest.showMore"
                  >{{
                    itemRequest.showMore ? "See less..." : "See more..."
                    }}</span
                  >
                </ng-container>
              </div>

              <p class="mt-3 mb-2 text-secondary fs-6">
                Our staff will contact you within 24 hrs. If you need urgent
                assistance, please contact us via our hotline
                <a href="tel:09123456888">{{itemRequest.school.phoneNumber}}</a>
              </p>
              <!-- cancel request -->
              <ng-container *ngIf="itemRequest.status==='OPEN'">
                <div>If you want to cancel request, click
                  <span class="text-primary text-decoration-underline"
                        style="cursor: pointer;" data-bs-toggle="modal" [attr.data-bs-target]="'#'+itemRequest.id">here</span>
                  <div class="modal fade" [id]="itemRequest.id" tabindex="-1" aria-labelledby="exampleModalLabel"
                       aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Do you want to cancel request?</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          Click "ok" to cancel request
                        </div>
                        <div class="modal-footer">
                          <button #cancel type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" (click)="cancelRequest(itemRequest.id)">Ok
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="col-md-5 mt-3">
          <div class="list-group border border-secondary rounded">
            <div class="list-group-item">
              <div class="school-summary d-flex">
                <div class="me-3">
                  <h5 class="text-primary">School Summary</h5>
                  <div class="mb-2">
                    <a
                      class="text-primary text-decoration-underline fs-4 fw-bold"
                      [routerLink]="['/home/school', itemRequest.school.id]"
                    >
                      {{ itemRequest.school.name }}
                    </a>
                  </div>
                  <p>
                    <i class="fa-solid fa-map-location-dot"></i> <strong>Address: </strong>
                    {{ [itemRequest.school.street, itemRequest.school.ward.name,
                    itemRequest.school.district.name, itemRequest.school.city.name].join(', ') }}
                  </p>
                  <p>
                    <i class="fa-solid fa-earth-asia"></i> <strong>Website: </strong>
                    <a href="{{ itemRequest.school.website }}">{{
                      itemRequest.school.website
                      }}</a>
                  </p>
                  <p>
                    <i class="fa-solid fa-coins"></i> <strong>Tuition Fee: </strong> From
                    {{ itemRequest.school.minFee }} to
                    {{ itemRequest.school.maxFee }} VND/month
                  </p>
                  <p>
                    <i class="fa-solid fa-book-bookmark"></i> <strong>Admission Age: </strong>
                    {{ itemRequest.school.childReceivingAge | displayName }}
                  </p>
                  <div #rating class="rate-content">
                    <app-rating-star
                      [maxRate]="5"
                      [rate]="itemRequest.school.avgRating"
                    ></app-rating-star>
                    <span>
                      {{ itemRequest.school.avgRating }}/5 ({{
                      itemRequest.school.totalFeedbacks
                      }}
                      ratings)
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <nav *ngIf="totalPages > 1" aria-label="Page navigation" class="paging">
        <ul class="pagination justify-content-center mb-0 mt-2">
          <pagination-controls
            previousLabel="Prev"
            nextLabel="Next"
            [responsive]="true"
            (pageChange)="handlePageChange($event)"
          >
          </pagination-controls>
        </ul>
      </nav>

      <!-- // text-secondary -->
    </div>
  </ng-container>

  <!-- <ng-container *ngIf="requestList.length === 0">

  </ng-container> -->
</section>

<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
  integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
  crossorigin="anonymous"
></script>
