<div class="m-3">
  <div>
    <div>
      <nz-breadcrumb class="d-flex justify-content-start mt-3" nzSeparator=">">
        <nz-breadcrumb-item class="text-primary fw-bold" [routerLink]="['/admin/parent']">Parent Management
        </nz-breadcrumb-item>

        <nz-breadcrumb-item><a class="text-primary fw-bold" [routerLink]="['/admin/parent/list']">Parent List</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item><a class="text-primary fw-bold">Parent Enroll List</a></nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>
    <div class="d-flex align-items-center justify-content-between gap-1 h-10 py-5">
      <h4>Parent Enroll List</h4>
    </div>
  </div>
  <div>
    <nz-table [nzData]="schoolEnroll" [nzFrontPagination]="false" [nzShowPagination]="false">
      <thead>
      <tr>
        <th class="text-center">School Name</th>
        <th class="text-center">Address</th>
        <th class="text-center">Phone No.</th>
        <th class="text-center">Feedback</th>
        <th class="text-center">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of schoolEnroll">
        <td class="text-center text-primary" role="button">{{ data.school.name }}</td>
        <td class="text-center">
          {{ data.school.street ? data.school.street + ', ' : '' }}
          {{ data.school.ward ? data.school.ward.name + ', ' : '' }}
          {{ data.school.district ? data.school.district.name + ', ' : '' }}
          {{ data.school.city ? data.school.city.name : '' }}
        </td>
        <td class="text-center">{{ data.school.phoneNumber }}</td>
        <td class="text-center">
            <nz-tag class="showFeedback"  (click)="showModal(data)" nzColor="processing">Show Feedback ({{data?.school?.feedback?.length}})</nz-tag>
          <nz-modal [nzWidth]="800" [nzCancelText]="'Cancel'" [(nzVisible)]="data.isVisible" nzTitle="Feedback"
                    (nzOnCancel)="handleCancel(data)" (nzOnOk)="handleOk(data)">
            <ng-container *nzModalContent>
              <nz-table class="m-4 table-custom" [nzData]="data.school.feedback" [nzFrontPagination]="false"
                        [nzShowPagination]="false">
                <thead>
                <tr>
                  <th class="text-center" nzWidth="60%">Content</th>
                  <th class="text-center" nzWidth="30%">Rating</th>
                  <th class="text-center" nzWidth="10%">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let feedback of data.school.feedback">
                  <td class="text-primary">{{ feedback.content }}</td>
                  <td class="text-center">
                    <app-rating-star [star]="feedback.avgRating"></app-rating-star>
                  </td>
                  <td class="text-center">
                    <ng-container *ngIf="feedback.deleted">
                      <nz-tag [nzColor]="'red'">Deleted</nz-tag>
                    </ng-container>
                    <ng-container *ngIf="!feedback.deleted">
                      <nz-tag [nzColor]="'green'">Alive</nz-tag>
                    </ng-container>
                  </td>
                </tr>
                </tbody>
              </nz-table>
            </ng-container>
          </nz-modal>
        </td>
        <td class="text-center">
          <ng-container>
            <a nz-popconfirm nzCancelText="Cancel" nzPopconfirmTitle="Sure to delete?"
               (nzOnConfirm)="delete(data.school.id)">
              <nz-tag [nzColor]="'red'" class="uneroll">Unenroll</nz-tag>
            </a>
          </ng-container>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
