<nz-breadcrumb class="text-start m-3">
  <nz-breadcrumb-item class="text-primary">
    <a class="text-primary fw-bold" [routerLink]="['/admin/parent']">Parent Management</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item class="text-primary fw-bold">
    <a class="text-primary fw-bold" [routerLink]="['/admin/parent']">Parent List</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item class="text-primary fw-bold">View Parent's Detail</nz-breadcrumb-item>
</nz-breadcrumb>
<h3 class="ms-5 text-start">Parent Details</h3>
<nz-card class="justify-content-start" style="width: 548px;">
  <ng-container *ngIf="parent">
    <form [formGroup]="parentForm">
      <div class="input-container">
        <label>Full Name: </label>
        <!-- <input id="fullName" formControlName="fullName" readonly> -->
        <span>{{parent.fullName}}</span>
      </div>
      <div class="input-container">
        <label>Email: </label>
        <!-- <input id="email" formControlName="email" readonly> -->
        <span>{{parent.account?.email}}</span>
      </div>
      <div class="input-container">
        <label>DOB: </label>
        <!-- <input id="dob" formControlName="dob" readonly> -->
        <span>{{parent.dob}}</span>
      </div>
      <div class="input-container">
        <label>Phone No.: </label>
        <!-- <input id="phoneNumber" formControlName="phoneNumber" readonly> -->
        <span>{{parent.phoneNumber}}</span>
      </div>
      <div class="input-container">
        <label>Address: </label>
        <!-- <input id="address" formControlName="address" readonly> -->
        <span>
          {{ parent.street ? parent.street + ', ' : '' }}
          {{ parent.ward ? parent.ward.name + ', ' : '' }}
          {{ parent.district ? parent.district.name + ', ' : '' }}
          {{ parent.city ? parent.city.name : '' }}
        </span>
      </div>
      <div class="input-container">
        <label for="enrolledSchool">School Enroll: </label>
        <nz-select class="border border-secondary" id="enrolledSchool" formControlName="school"
                   style="width: 450px"
                   [nzPlaceHolder]="getText()">
          <nz-option *ngFor="let school of parent?.school" [nzLabel]="school.name" [nzValue]="school.id"></nz-option>
        </nz-select>
      </div>
    </form>

  </ng-container>
</nz-card>
<ng-container>
  <div class="d-flex justify-content-center">
    <button nz-button nzType="primary" (click)="enroll()">
      <strong>Enroll</strong>
    </button>
  </div>
</ng-container>



