<div class="px-3 pb-4">
    <nz-breadcrumb nzSeparator=">" class="py-3">
        <nz-breadcrumb-item class="text-primary fw-bold" role="button" [routerLink]="['/admin/school']">School Management
        </nz-breadcrumb-item>
        <nz-breadcrumb-item class="text-primary fw-bold">School List</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="d-flex align-items-center justify-content-between gap-1 h-10">
        <h4>School List</h4>
        <div class="d-flex flex-column w-25 gap-2">
            <div class="d-flex align-items-center ">
                <nz-input-group class="rounded-3 p-2 bg-light" [nzSuffix]="suffixIconSearch">
                    <input class="bg-light" type="text" nz-input placeholder="input search text"
                           [(ngModel)]="searchOptions" (keydown.enter)="search()"/>
                </nz-input-group>
                <ng-template #suffixIconSearch>
                    <i nz-icon nzType="search" role="button" (click)="search()"></i>
                </ng-template>
            </div>
            <div class="d-flex justify-content-end w-5 mt-2 mb-3">
                <button nz-button [nzType]="'primary'" [routerLink]="['/admin/school/add']"
                        class="rounded-3 d-flex align-items-center justify-content-center p-4">
                    <span>Add new school</span>
                </button>
            </div>
        </div>
    </div>
    <nz-table class="table-custom" *ngIf="schoolList.length" #fixedTable [nzData]="schoolList" [nzFrontPagination]="false">
        <thead>
        <tr>
            <th nzWidth="20%">School Name</th>
            <th class="text-center" nzWidth="30%">Address</th>
            <th class="text-center" nzWidth="10%">Phone No.</th>
            <th class="text-center" nzWidth="15%">Email</th>
            <th class="text-center" nzWidth="10%">Posted Date</th>
            <th class="text-center" nzWidth="5%">Status</th>
            <th class="text-center" nzWidth="10%">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of fixedTable.data">
            <td class="text-primary fw-bolder" role="button" [routerLink]="['/admin/school', data.id]">{{data.name}}</td>
            <td>
                {{ data.street ? data.street + ', ' : '' }}
                {{ data.ward ? data.ward.name + ', ' : '' }}
                {{ data.district ? data.district.name + ', ' : '' }}
                {{ data.city ? data.city.name : '' }}
            </td>
            <td class="text-center fw-bold">{{ data.phoneNumber}}</td>
            <td class="text-center">{{ data.email }}</td>
            <td class="text-center" [innerHTML]=" data.createdDate | dobDate "></td>
            <td class="text-center">
                <ng-container *ngIf="data.status === 'SAVED'">
                  <nz-tag [nzColor]="'purple'">Save</nz-tag>
                </ng-container>
                <ng-container *ngIf="data.status === 'SUBMITTED'">
                  <nz-tag [nzColor]="'cyan'">{{data.status}}</nz-tag>
                </ng-container>
                <ng-container *ngIf="data.status === 'APPROVED'">
                  <nz-tag [nzColor]="'orange'">{{data.status}}</nz-tag>
                </ng-container>
                <ng-container *ngIf="data.status === 'REJECTED'">
                  <nz-tag [nzColor]="'red'">{{data.status}}</nz-tag>
                </ng-container>
                <ng-container *ngIf="data.status === 'PUBLISHED'">
                  <nz-tag [nzColor]="'geekblue'">{{data.status}}</nz-tag>
                </ng-container>
                <ng-container *ngIf="data.status === 'UNPUBLISHED'">
                  <nz-tag nzColor="default">{{data.status}}</nz-tag>
                </ng-container>
                <ng-container *ngIf="data.status === 'DELETED'">
                  <nz-tag [nzColor]="'#f50'">{{data.status}}</nz-tag>
                </ng-container>
            </td>

            <td class="text-center" style="font-size:25px">
                <a class="mx-2 text-dark"><span nz-icon nzType="edit" [routerLink]="['/admin/school/edit', data.id]"
                                                nzTheme="outline"></span></a>
                <a nz-popconfirm nzCancelText="Cancel" nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="delete(data.id)">
                    <span nz-icon nzType="delete" nzTheme="outline"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </nz-table>
  <nz-pagination *ngIf="dataLoaded" (nzPageIndexChange)="paging($event)"
                 [nzPageIndex]="page + 1" [nzPageSize]="size" [nzTotal]="totalElements"></nz-pagination>
  <div *ngIf="!schoolList.length" class="notification">
    <b>No results found !</b>
  </div>
</div>
