<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-md-down">
    <div class="modal-content p-5">
      <div class="modal-header">
        <h5
          class="modal-title text-success font-weight-bold fs-2"
          id="staticBackdropLabel"
        >
          Create your account
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="clearForm()"
        ></button>
      </div>
      <div class="modal-body">

        <form method="post" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="fullName" class="form-label "
              >Full Name:</label
            >
            <span class="text-danger">  *</span>
            <input
              [formControlName]="'fullName'"
              type="text"
              class="form-control"
              placeholder="Enter your full name.."
              id="fullName"
            />
            <ng-container
              *ngIf="
                fullName?.invalid && (fullName?.dirty || fullName?.touched)
              "
            >
              <div class="text-danger" *ngIf="fullName?.errors?.['required']">
                Full Name is required!
              </div>
            </ng-container>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label "
              >Email address:</label
            >
            <span class="text-danger">  *</span>
            <input
              [formControlName]="'email'"
              type="email"
              class="form-control"
              id="email"
              placeholder="Enter your email..."
            />
            <ng-container
              *ngIf="email?.invalid && (email?.dirty || email?.touched)"
            >
              <div class="text-danger" *ngIf="email?.errors?.['required']">
                Email is required
              </div>
            </ng-container>

            <ng-container *ngIf=" email?.invalid && (email?.dirty || email?.touched)">
              <small class="text-danger" *ngIf="email?.hasError('pattern')"  >Please enter a valid email address (e.g.,example@example.com)</small>
            </ng-container >
          </div>
          <div class="mb-3">
            <label for="mobileNo" class="form-label"
              >Mobile No:</label
            >
            <span class="text-danger">  *</span>
            <input
              [formControlName]="'phoneNumber'"
              type="text"
              class="form-control"
              id="mobileNo"
              placeholder="Enter your phone number..."
            />
            <ng-container
              *ngIf="
                phoneNumber?.invalid &&
(phoneNumber?.dirty || phoneNumber?.touched)
              "
            >
              <div
                class="text-danger"
                *ngIf="phoneNumber?.errors?.['required']"
              >
                Phone Number is required!
              </div>
            </ng-container>

            <ng-container *ngIf=" phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched)">
              <small class="text-danger" *ngIf="phoneNumber?.hasError('pattern')"  >Invalid Phone Number format</small>
            </ng-container >
          </div>
          <div class="mb-3">
            <label for="password" class="form-label "
              >Password:
            </label>
            <span class="text-danger">  *</span>
            <input
              [formControlName]="'password'"
              type="password"
              class="form-control"
              id="password"
              placeholder="xxxxxxxxxx"
            />
            <ng-container
              *ngIf="
                password?.invalid && (password?.dirty || password?.touched)
              "
            >
              <div class="text-danger" *ngIf="password?.errors?.['required']">
                Password is required
              </div>
            </ng-container>
            <div class="text-danger" *ngIf="password?.hasError('pattern')">
              Invalid password format
            </div>
            <small class="text-warning mt-2">
              Use at least one number, one letter, and seven characters.
            </small>
          </div>
          <div class="mb-3">
            <label for="confirmPassword" class="form-label"
              >Confirm Password:
            </label>
            <span class="text-danger">  *</span>
            <input
              [formControlName]="'confirmPassword'"
              type="password"
              class="form-control"
              id="confirmPassword"
              placeholder="xxxxxxxxxx"
            />
            <ng-container
              *ngIf="
                confirmPassword?.invalid &&
                (confirmPassword?.dirty || confirmPassword?.touched)
              "
            >
              <div
                class="text-danger"
                *ngIf="confirmPassword?.errors?.['required']"
              >
                ConfirmPassword is required!
              </div>
            </ng-container>
            <ng-container *ngIf="passwordsMatchChecked">
              <div class="text-danger" *ngIf="registerForm.hasError('mismatch', 'confirmPassword')">
                Password do not match
              </div>
            </ng-container>
          </div>
          <div
            class="text-dark mb-3 alert alert-danger"
            *ngIf="errorMessage"
          >
            {{ errorMessage }}
          </div>
          <div class="mb-3">
            <small class="text-muted text-center"
              >By signing up,you agree with our
<a href="">Term and Conditions</a></small
            >
          </div>
          <div class="modal-footer d-flex gap-4 justify-content-center">
            <button
              #cancel
              type="button"
              class="btn btn-cancel"
              data-bs-dismiss="modal"
              (click)="clearForm()"
            >
              Cancel
            </button>
            <button #submit type="submit" class="btn btn-primary btn-signup">
              Sign Up
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>