/* Đảm bảo tiêu đề nằm chính giữa modal */
.modal-header {
  text-align: center;
}

.form-control {
  border: none;
  background-color: #f8f9fa; /* Màu xám nhạt */
  height: 40px;

}
.btn-cancel {
  border: 1px solid #0d6efd; /* Viền màu xanh da trời */
  background-color: white; /* Phông nền màu trắng */
  color: #0d6efd; /* Màu chữ xanh da trời */
  width: 30%; /* Tăng thêm độ rộng */
}
.btn-cancel:hover {
  background-color: #0d6efd; /* Màu nền khi di chuột qua */
  color: white; /* Màu chữ khi di chuột qua */

}
.btn-signup {
  width: 30%; /* Tăng thêm độ rộng */
}

  /* Đường ngăn giữa modal header và modal body */
  .modal-header {
    border-bottom: none;
  }

  /* Khoảng cách giữa modal body và modal footer */
  .modal-body {
    padding-bottom: 20px;
  }

  /* Đường ngăn giữa modal body và modal footer */
  .modal-footer {
    border-top: none;
  }

