<div class="container">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="mt-4 mb-4">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a class="text-decoration-none text-dark" [routerLink]="['/home']">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">My Profile</li>
    </ol>
  </nav>
  <div class="card  text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active text-dark fw-bold" [routerLink]="['/account/profile']">My Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" [routerLink]="['/account/password']">Change Password</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <form [formGroup]="userForm" method="post">
        <h4 class="d-flex ms-4 mb-4">Account Info</h4>
        <div class="row justify-content-around">
          <div class="col-5 mb-3">
            <label class="d-flex align-items-center mb-2">Full Name <p class="text-danger mb-0"> &nbsp;&nbsp;*</p>
            </label>
            <input type="text" class="form-control border border-primary" formControlName="fullName"
                   aria-label="Your full name" readonly>
          </div>
          <div class="col-5 mb-3">
            <label class="d-flex align-items-center mb-2" for="dOB">D.O.B</label>
            <input type="date" formControlName="dob" id="dOB" class="form-control border border-primary"
                   aria-label="Select your date of birth">
          </div>
          <div class="col-5 mb-3">
            <label class="d-flex align-items-center mb-2">Email Address<p class="text-danger mb-0"> &nbsp;&nbsp;*</p>
            </label>
            <input type="email" class="form-control border border-primary" formControlName="email"
                   aria-label="Your mail" readonly>
          </div>
          <div class="col-5 mb-3">
            <label class="d-flex align-items-center mb-2" for="phoneNumber">Mobile No.<p class="text-danger mb-0">
              &nbsp;&nbsp;*</p>
            </label>
            <input type="text" class="form-control border border-primary mb-2" formControlName="phoneNumber"
                   id="phoneNumber"
                   placeholder="Your phone number"
                   aria-label="Your phone number">
            <ng-container *ngIf="phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched)">
              <div class="text-start text-danger mb-2" *ngIf="phoneNumber?.errors?.['required']">
                Phone number is required!
              </div>
              <div class="text-start text-danger mb-2" *ngIf="phoneNumber?.hasError('pattern')">Invalid phone number
                format
              </div>
            </ng-container>
            <div class="text-start text-danger mb-2" *ngIf="errorMessage"> {{errorMessage}} </div>
          </div>
          <h4 class="d-flex ms-5 mb-4">Address</h4>
          <div class="col-5 mb-3">
            <div class="mb-5">
              <select class="form-select border border-primary" formControlName="city">
                <option value="" disabled>Please select City/Province</option>
                <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
              </select>
            </div>
            <div class="mb-5">
              <select class="form-select border border-primary" formControlName="district">
                <option value="" disabled> Please select District</option>
                <option *ngFor="let district of districts" [value]="district.id">{{ district.name }}</option>
              </select>
            </div>
            <div class="mb-5">
              <select class="form-select border border-primary" formControlName="ward">
                <option value="" disabled>Please select Ward</option>
                <option *ngFor="let ward of wards" [value]="ward.id">{{ ward.name }}</option>
              </select>
            </div>
            <div class="mb-5">
              <input type="text" class="form-control border border-primary" formControlName="street"
                     placeholder="House Number, Street" aria-label="">
            </div>
          </div>
          <div class="col-5 mb-3">
            <!--            <p>để cân với div trên, KHÔNG XÓA</p>-->
          </div>
        </div>
        <div class="container">
          <div class="d-flex column-gap-5 justify-content-center row" style="margin-bottom: 50px;">
            <button class="btn btn-outline-primary col-8 md-col-3 lg-col-2" style="width: 160px;"
                    (click)="clearForm()">Cancel
            </button>
            <button type="submit" class="btn btn-primary col-8 md-col-3 lg-col-2" style="width: 160px;"
                    (click)="submitForm()">Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
