
$primary-color: #19a7ff;
$primary-color-subtle: #4fbbff;
$primary-color-btn: #0081d1;
$rate-color: #ffe74a;
$status-open: #48cf48;
$bg-gray: #dddddd;
$bg-gray-active: #b7b7b7;
$success-color: #4aa042;
$success-bg-color: #c5f9c0;
$warning-color: #f0b445;
$warning-bg-color: #ffe5b5;
$error-color: #ff2b2b;
$error-bg-color: #ff8989;
$info-color: #377cad;
$info-bg-color: #7dadcf;
$light-color: #fff;
$dark-color: #000;
