<div id="search-container" class="d-flex  px-5 mt-0 row">
  <input (keydown.enter)="search()" type="text" [(ngModel)]="schoolName" class="search-school col-lg-10 col-md-12 p-3"
         placeholder="Enter a school name">
  <button type="button" class="rounded-end-1 btn btn-primary search-location-btn col-lg-2 col-sm-12"
          [routerLink]="['/home/school']" [queryParams]="{ name: schoolName, city:selectedProvince, district:selectedDistrict }">
    Search
  </button>

</div>
<div class="my-4">
  <p class="text-center fw-bold pt-3">OR</p>
  <p class="text-center fw-bold pb-3">Browse by location</p>
</div>
<div class="d-flex px-5 row">
  <select class="rounded-start-2 col-lg-5 col-md-12 border-primary p-3" [(ngModel)]="selectedProvince"
          (change)="onProvinceChange()">
    <option class="text-secondary" value="">Select Province</option>
    <option *ngFor="let province of provinces" [value]="province.id"> {{ province.name }} </option>
  </select>
  <select class=" out-line-none col-lg-5 col-md-12 border-primary p-3" [(ngModel)]="selectedDistrict">
    <option value="">Select District</option>
    <option *ngFor="let district of districtOptions" [value]="district.id">{{ district.name }}</option>
  </select>
  <button type="button" class="rounded-end-1 btn btn-primary search-location-btn col-lg-2 col-md-12"
          [routerLink]="['/home/school']" [queryParams]="{name : schoolName, city:selectedProvince,district:selectedDistrict}">Search
  </button>
</div>







